<div *ngIf="displaynote; then note else createnote"></div>
    <ng-template #note>
        <div class="note">
            <input class="name" type="text" placeholder="Take a note... "(click)="displaynote=!displaynote" >
            <div class="all">
                <button class="icon1">
                    <span class="material-symbols-outlined">
                        check_box
                    </span>
                </button>
                <button class="icon1">
                    <span class="material-symbols-outlined">
                        brush
                    </span>
                </button>
                <button class="icon1">
                    <span class="material-symbols-outlined">
                        image
                    </span>
                </button>
            
            </div>

        </div>
    </ng-template>

    <ng-template #createnote>
        <form [formGroup]="noteForm"(ngSubmit)="noteSubmit()">
            <div class="createnote">
                <div class="title">
                   
                  <input class="name1" type="text" placeholder="Title" formControlName="Title">
                  <button class="icon14">
                    <span class="material-symbols-outlined">
                        keep
                    </span>
                   </button>
                  <mat-error class="name11"*ngIf="noteForm.hasError('required', 'Title')">
                  </mat-error>         
                  
                </div>
                <div note1>
                    <input class="name2" type="text" placeholder="Take a note..... "formControlName="Description" >
                    <mat-error class="name22" *ngIf="noteForm.hasError('required', 'Description')">
                    </mat-error>   
                </div>
                <div class="icons" >
                    <div  class="main">
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                add_alert
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                person_add
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                palette
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                image
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                archive
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                more_vert
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                undo
                            </span>
                        </button>
                        <button class="icon2">
                            <span class="material-symbols-outlined">
                                redo
                            </span>
                        </button>
                    </div>
                    <div  class="close">
                        <button class="icon3">
                            <span class="material-symbols-outlined">
                                Close
                            </span>                        
                        </button>
                    </div>
                
                </div>
            </div>
        </form>
    </ng-template>



