.disp{
    display: flex;
   // flex-direction: column;
   flex-wrap: wrap;
    margin-left: 150px;
    //color:white;
    margin-top: 4vh;
    background-color:white;
   // z-index: 1;
   // margin-right: 100px;
    
}