<div class="contain">
    <div class="Box1">
        
        <div class="Signin1">
            <p class="reg1">Welcome Back</p>
            <p class="name1">Sign in to your account</p>
        </div>
    <!-- </div> -->
            <div class="login1">
                <div class="Signin2">
                    <p class="reg2">Sign in</p>
                    
                </div>
               <div class="con1">
                   <p>Your Email</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input class="Email" matInput formControlName='Email'>
                    </mat-form-field>
                    <p>Passwod</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input class="Password" matInput formControlName='Password' type="Password">
                    </mat-form-field>
               </div>
                <div class="Ct1">
                    <div class="checkbox-container">
                        <input type="checkbox" id="showpassword">
                        <label for="Password">Remember me</label>
                    </div>
                    
                    <div class="Submit">
                        <button mat-button color="primary">Forgot your password?</button>
                        
                    </div>
                </div>
                <div class="Submit1">
                    
                    <button mat-raised-button color="primary" id="but">Sign in</button>
                </div>
            </div>
            
            
            
        <!-- </form> -->
    <!-- </div>
    <div class="Box2">
        
        <div class="Signin3">
            <p class="reg3">Lets Start</p>
            <p class="name1">Create your account</p>
        </div>
    <!-- </div> -->
            <!-- <div class="login2">
                <div class="Signin4">
                    <p class="reg4">Sign Up</p>
                    
                </div>
               <div class="con2">
                <p>Full Name</p>
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input class="1Full Name" matInput formControlName='FullName'>
                </mat-form-field>
                   <p>Your Email</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input class="1Email" matInput formControlName='Email'>
                    </mat-form-field>
                    <p>Passwod</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input class="1Password" matInput formControlName='Password'>
                    </mat-form-field>
               </div>
                <div class="Ct2">
                    <div class="1checkbox-container">
                        <input type="checkbox" id="showpassword">
                        <label for="Password">I agree to the terms & Conditions and Private Policy</label>
                    </div>
                    
                   
                </div>
                <div class="Submit2">
                    
                    <button mat-raised-button color="primary">Create Account</button>
                </div>
            </div>
            
            
            
        <!-- </form> -->
    <!-- </div> --> 
</div>

