// .EditNote{
//   display: flex;
//  // flex-direction: column;
//  margin-right: 20vh;
  
// }


  .title{
    display: flex;
      width: 35vw;
      border: 0px;
   //margin-bottom: 4vh;
      margin-top: 2vh;
     margin-left: 2vh;
      //padding-right: 1vh;
      font-size: larger; 
      outline: none;  
      // cursor: pointer;
       
  }
 
 
      
  
  .description{
      width: 35vw;
      border: 0px;
      margin-top: 4vh;
      margin-bottom: -10vh;
      margin-left: 2vh;
      //margin-right: 50px;
     // margin-top: -40px;
     // border-top-left-radius: 1vh;
      //border-bottom-left-radius: 1vh;
      //padding-right: -2vh;
      font-size: larger; 
      outline: none; 
      // cursor: pointer;
      
  }
//   // .name22{
//   //     //width: 35vw;
//   //    // border: 0px;
//   //     margin-top: -2vh;
//   //     margin-bottom: 20px;
//   //   // margin-left: 16px;
//   //    // border-top-left-radius: 1vh;
//   //     //border-bottom-left-radius: 1vh;
//   //    // padding-left: 1vh;
//   //     //font-size: larger; 
      
  
  .icon2{
      //display: flex;
      background: transparent;
      text-align:center;
      width: 3rem;
     // min-width: 1rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
    // margin-left: 20px;
    // margin-right: 20px;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
      color: grey; 
      margin-top: 5vh;
      margin-bottom: -14vh;
      // border-radius: 10px;
  }
  .close{
    background: transparent;
    text-align:center;
    width: 6rem;
   // min-width: 1rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
  // margin-left: 20px;
  // margin-right: 20px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: grey; 
    margin-left: 29vh;
  }
  .close:hover{
    background-color:rgb(228, 219, 219) ;
    border-radius: 6vh;
    
}
.icons{
  margin-top: -1vh;
}
 
//margin-right: 24vh;
  //     margin-bottom: 1vh;
  //     margin-top: -13vh;

  .icon2:hover{
      background-color:rgb(228, 219, 219) ;
      border-radius: 3vh;
      
  }
  
  .icon21:hover{
      background-color:rgb(228, 219, 219) ;
      border-radius: 3vh;
      
  }
  .close{
      margin-right: 3vh;
      margin-top: -5.7vh;
      //margin-bottom: 20vh;
     // margin-top: vh;

  }

.icon21{
  display: flex;
 margin-left: 82vh;
  margin-top: -4vh;
  //color: grey; 
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  color: grey;
  background: transparent;
  text-align:center;
  //width: 3rem;
 // min-width: 1rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
 // margin-bottom: 8vh;
}
.Title{
  display: flex;
  //flex-direction: row;
  border: black;
 // border-radius: 10px;
  background-color: antiquewhite;
  //justify-content: space-between;
 // align-items: top;
  //margin-top: 10px;
  background-color: white;
 // width: 11vw;
  //border-radius: 10px;
}

  
 

