.login{
    display: flex;
   flex-direction: column;
   //border: 0.5px solid black;
   height:75vh;
   width: 75vh;
   box-shadow: 3px 3px 3px rgb(24, 24, 24);
 
   justify-content:space-around;
   flex-wrap: wrap;
   border-radius: 5vh;
   padding: 3vh;
   background-color: white;
 }
 .Create{
     display: grid;
     grid-template-columns: 20vh 20vh;
     justify-content: center;
     column-gap: 25vh;
     margin-top: -15px;
     margin-bottom: -20px;
 }
 
//  .checkbox-container{
//     display: grid;
//     grid-template-columns: 20vh 20vh;
//     //justify-content:space-between;
//     align-items: start;
//     column-gap: -15vh;
//     margin-top: -15px;
//     margin-bottom: -10px;
// }

.Ct{
    display: flex;
     flex-direction:row;
    justify-content:space-between;
  
}


 .EP{ 
     display: flex;
     flex-direction: column;
     row-gap: 2vh;
     margin-top: -60px;
     margin-bottom: 30px;
     
 }
 
 .Signin{ 
     display: flex;
     flex-direction:column;
     row-gap: 2vh;
     align-items: center;
     margin-top: -80px;
     margin-bottom: -20px;
 }
 img{
    max-width: 100%;
    max-height: 100%;
 }
 .pic{
    display: grid;
    grid-template-columns: 17vh ;
    justify-content: center;
    margin-top: -20px;
 }
 
 .sign{
     font-size: 4vh;
     color: rgb(12, 12, 12);
    
 
 }
 
 .account{
     font-size: 3vh;
 }
 .contain{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     background-color: whitesmoke;
     
 }