<div class="pic">
 wdwx<!-- <img [src]="imageUrl">mksmdksdsnjsjnjnc -->
</div>
<!-- <div class="contain">
    <div class="Reg">
        <div class="Signin">
            <p class="reg">Create your Google Account</p>
            <p class="name">Enter the Details</p>
        </div>
        <div class="pic2">
            <img [src]="imageUrl2">
        </div>
        <form [formGroup]="loginForm"(ngSubmit)="RegisterSubmit()">
            <div class="person">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input class="FirstName" matInput formControlName='FirstName'>
                    <mat-error *ngIf="loginForm.hasError('required', 'FirstName')">
                        First Name is Required!
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('pattern', 'FirstName')">
                        First Name is Invalid!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input class="LastName" matInput formControlName='LastName'>
                    <mat-error *ngIf="loginForm.hasError('required', 'LastName')">
                        Last Name is Required!
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('pattern', 'LastName')">
                        Last Name is Invalid!
                    </mat-error>
                </mat-form-field>
                
            </div>
            <div class="email"> 
                <p>Create a Gmail address for signing in to your Google Account</p>
                <mat-form-field appearance="outline">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput placeholder="Email or Phone" formControlName="Email">
                    <mat-error *ngIf="loginForm.hasError('required', 'Email')">
                        Email is Required!
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('email', 'Email')">
                        Invalid Email!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="Offic">
                  
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="Password">
                    <mat-error *ngIf="loginForm.hasError('required', 'Password')">
                        Password is Required!
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('pattern', 'Password')">
                        Enter a Strong Password!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="ConfirmPassword"  formControlName='Password'>
                    <mat-error *ngIf="loginForm.hasError('required', 'Password')">
                        ConfirmPassword is Required!
                    </mat-error>
                </mat-form-field>
                <div class="checkbox-container">
                    <input type="checkbox" id="showpassword">
                    <label for="Password">Show Password</label>
                </div>
            </div>
                <div class="Submit">
                    <button mat-raised-button color="primary">Back</button> -->
                    <!-- <button mat-raised-button color="primary">Submit</button>
                </div>
            
        </form>
    </div>
</div>  -->
